<section>
    <div class="side-by-side">
        <div>
            <img src="./assets/cats-pic/{{cat.picUrls[index]}}" alt="">
            <button (click)="increment()">
                left
            </button>
            <button (click)="decrement()">
                right
            </button>
        </div>
        <div class="cols">
            <span class="cats-name">{{cat.name}}</span>
            <span>{{cat.ageMonths}} miesięcy</span>
            <span>{{cat.breed}}</span>
            <span>Zaszczepiony:<div *ngIf="cat.vaccinated"><input type="checkbox" onclick="return false;" checked="checked"></div></span>
        </div>
    </div>

    <button (click)="openAdoptionForm()">adoptuj</button>
    <button routerLink="/cats">
        <span>{{'powrót'}}</span></button>
    <ng-container *ngIf="adoptionFormActive">
        <app-cats-adoption-form
                [catsName]="cat.name"
                (closeMe)="onFormClose($event)">
        </app-cats-adoption-form>
    </ng-container>
    <div *ngIf="showConfirmMsg">
        <p>rezerwacja wysłana, będziemy się kontaktować</p>
    </div>
</section>
