:host {

  background-color: #fcfacd;
  display: block;


  .listElement {
    max-width: 550px;
    border: solid 2px #000000;
    margin: 20px 0 20px 0;
  }

  .listElementNotAdopted {
    max-width: 550px;
    border: solid 2px #51f804;
    margin: 20px 0 20px 0;
  }

  .listElementAdopted {
    max-width: 550px;
    border: solid 2px #fc0303;
    margin: 20px 0 20px 0;
  }

  img {
    max-width: 250px;
    max-height: 250px;
  }
}
